.ppal {
    text-align: center;
    border: 1px solid green;
    margin: 32px;
    padding: 32px;
}

.error {
    font-weight: bold;
    font-size: x-large;
    border: 2px solid black;
    margin: 32px;
    padding: 32px;
    background-color: red;
    color: #fff;
    text-shadow: 1px 2px 3px #000;
}

label {
    text-align: left;
    margin-left: 16px;
    font-size: large;
    content: "\a";
    white-space: pre;
}

form {
    text-align: left;
    width: 450px;
    margin: auto;
    padding: 16px;
    border: 1px solid green;
}

input {
    margin-left: 16px;
}

.center {
    text-align: center;
}

table {
    margin: auto;
    text-align: right;
    border: 1px solid green;
    padding: 1px;
}

td {
    border: 1px solid green;
    padding: 16px;
}